html {
  background-color: hsl(0, 0%, 98%);
}

body {
  font-family: "Raleway", sans-serif;
}

.left-side {
  background-image: url("./assets/img/hero.svg");
  background-position: center;
  background-size: contain;
  height: 100vh;
  background-repeat: no-repeat;

  @media (max-width: 576px) {
    display: none;
  }
}

.logo-container {
  // position: absolute;
  // top: 1.5rem;
  // left: 2rem;
  z-index: 2;

  img {
    width: 70px;

    @media (max-width: 576px) {
      width: 80px;
    }
  }

  @media (max-width: 576px) {
    // left: 1rem;
    // top: 2rem;
    padding-top: 10px;
  }
}

.heading {
  border-bottom: 1px solid hsl(0, 0%, 86%);
}

.action-container {
  // position: absolute;
  align-items: center;
  display: flex;
  // top: 1.5rem;
  // right: 2rem;
  z-index: 2;

  @media (max-width: 576px) {
    right: 1rem;
    // flex-direction: row-reverse;
  }
}

.form-container {
  margin-top: 13rem;

  // @media (max-width: 576px) {
  //   margin-top: 6rem;
  // }
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 10px;
  top: 0;
  background-color: hsl(0, 0%, 98%);
  width: 100%;
  z-index: 10;

  a {
    color: #4a4a4a;
  }
  a:hover {
    color: #3273dc;
  }
}

.table-container {
  max-height: 250px;
  overflow-y: auto !important;
}

.input-container {
  max-width: 450px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mt-8 {
  margin-top: 8rem;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

/* Utilities */
.container-n {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.form .social-input {
  display: flex;
  align-items: center;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

// .table th,
// .table td {
//   padding: 1rem;
//   text-align: left;
// }

// .table th {
//   background: hsl(0, 0%, 96%);
// }

@media (max-width: 576px) {
  .right-side {
    height: 100%;
  }

  .sub-title {
    display: none;
  }

  .top-user-image {
    display: none !important;
  }
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      "top"
      "about"
      "exp"
      "edu"
      "github";
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  // .post {
  //   grid-template-columns: 1fr;
  // }
  // .post a,
  // .post button {
  //   padding: 0.3rem 0.4rem;
  // }
}
