.messagesender {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: 100%;

  &-top {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;

    form {
      flex: 1;
      display: flex;

      input {
        outline-width: 0;
        border: none;
        background-color: #eff2f5;
        margin: 0 10px;
        padding: 5px 20px;
        border-radius: 999px;
      }
      button {
        display: none;
        @media (max-width: 576px) {
          display: block;
        }
      }
    }
  }

  &-input {
    flex: 1;
  }

  &-bottom {
    display: flex;
    justify-content: space-evenly;
  }

  &-option {
    padding: 20px;
    display: flex;
    align-items: center;
    color: grey;
    margin: 5px;
    cursor: pointer;

    h4 {
      font-size: medium;
      margin-left: 10px;
    }
  }

  &-option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
  }
}
