.post {
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: #ffff;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);

  &-top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
  }

  &-post-image {
    img {
      width: 100%;
    }
  }

  &-avatar {
    margin-right: 10px;
  }

  &-topinfo {
    h3 {
      font-size: medium;
    }

    p {
      font-size: small;
      color: grey;
    }
  }

  &-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
  }

  &-options {
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: grey;
    cursor: pointer;
    padding: 15px;
  }

  &-option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;

    p {
      margin-left: 10px;
    }
  }

  &-option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
  }

  &-comment {
    border-top: 1px solid lightgray;
  }

  &-vote {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;

    .fa-thumbs-up:hover {
      color: #3298dc;
    }

    .fa-thumbs-down:hover {
      color: hsl(348, 100%, 61%);
    }
  }
}

.level-left {
  .fa-thumbs-up:hover {
    color: #3298dc;
  }

  .fa-thumbs-down:hover {
    color: hsl(348, 100%, 61%);
  }
}
