.sidebar {
  flex: 0.33;
  position: fixed;
  width: auto;
  left: 0;
  right: auto;
  padding: 20px 10px;

  &-row:hover {
    background-color: lightgray;
    border-radius: 10px;
  }

  &-row {
    padding: 10px;
    color: #4a4a4a !important;
    h4 {
      margin-left: 20px;
      font-weight: 600;
    }

    .fas {
      font-size: x-large;
    }
  }
}
